<%= form_with model: @model, url: brand_models_create_model_path, method: :post do |form| %>
  <% if @model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@model.errors.count, "error") %> prohibited this model from being saved:</h2>

      <ul>
        <% @model.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-4">
    <div class="field form-group col">
      <%= form.label :brand_id, class: "form-label" %>
      <%= form.collection_select :brand_id, Brand.order(:name), :id, :name, {}, {class: "form-control"} %>
    </div>

    <div class="field form-group col">
      <%= form.label :name, "Model Name", class: "form-label" %>
      <%= form.text_field :name, placeholder: "iPhone 100", class: "form-control" %>
    </div>
  </div>

  <div class="action">
    <%= form.submit class: "btn btn-primary", value: "Create" %>
  </div>
<% end %>
