<div class="container">
  <div class="row">

    <div id="accordion" class="col">
      <% @brands.each do |brand| %>
        <div class="card">
          <div class="card-header" id="heading<%= brand.id %>">
            <div class="d-flex justify-content-between align-items-center">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse<%= brand.id %>" aria-expanded="true" aria-controls="collapse<%= brand.id %>">
                <%= brand.name %>
              </button>
              <%= link_to "Destroy", "destroy_brand/#{brand.id}", method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-outline-danger btn-sm" %>
            </div>
          </div>
          <div id="collapse<%= brand.id %>" class="collapse show" aria-labelledby="heading<%= brand.id %>" data-parent="#accordion">
            <div class="card-body">
              <% brand.models.each do |model| %>
                <div class="d-flex justify-content-between align-items-center">
                  <p><%= model.name %></p>
                  <%= link_to "Destroy", "destroy_model/#{model.id}", method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-header">
          <h4>Create new brand</h4>
        </div>
        <div class="card-body">
          <%= render "brand_form" %>
        </div>
      </div><br/><br/>

      <div class="card">
        <div class="card-header">
          <h4>Create new model</h4>
        </div>
        <div class="card-body">
          <%= render "model_form" %>
        </div>
      </div><br/><br/>

      <div class="card">
        <div class="card-header">
          <h4>Edit brand</h4>
        </div>
        <div class="card-body">
          <%= render "brand_edit_form" %>
        </div>
      </div><br/><br/>

      <div class="card">
        <div class="card-header">
          <h4>Edit model</h4>
        </div>
        <div class="card-body">
          <%= render "model_edit_form" %>
        </div>
      </div><br/><br/>

    </div>

  </div>
</div>
