<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>ID: <%= @inventory.id %></h2>
    </div>
    <div class="card-body">
      <%= render "form", inventory: @inventory %>
    </div>
  </div>

  <% if @inventory.images.attached? %>
    <div id="images-view" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <% @inventory.images.length.times do |idx| %>
          <button type="button" data-bs-target="#images-view" data-bs-slide-to="<%= idx %>" class="active" aria-current="<%= idx == 0 ? true : false %>" aria-label="Slide <%= idx %>"></button>
        <% end %>
      </div>  
      <div class="carousel-inner">
        <% @inventory.images.each_with_index do |image, idx| %>
          <div class="carousel-item <%= 'active' if idx == 0 %>">
            <%= image_tag image.variant(resize_to_limit: [400, 400]), class: "d-block rounded mx-auto" %>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#images-view" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#images-view" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  <% end %>
</div>
