<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>Sign Up</h2>
    </div>

    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field form-group mb-4">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>
        </div>

        <div class="field form-group mb-3">
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "form-control" %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </div>

        <div class="field form-group mb-4">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm password", class: "form-control" %>
        </div>

        <div class="field form-group mb-4 row align-items-center">
          <div class="col-auto">
            <%= f.label :role_id, "Select role", class: "form-label" %>
          </div>
          <div class="col-auto">
            <%= f.collection_select :role_id, Role.order(:name), :id, :name, {}, {class: "form-control"} %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
